body{
    background-color: rgb(201, 253, 253);
}

.welcome{
    font-size: 50px;
    color:blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.signandlogin{
    background-color: wheat;
    font-size: 20px;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    width: 700px;
    height: 500px;
}
.link{
    font-size: 30px;
    color: red;
    font-weight: bold;
    border: 3px solid black;
    margin: 10px;
}
input{
    height: 30px;
    width: 200px;
    font-size: 20px;
}